#login.dialog
  %h2 Registrazione
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %fieldset
      .field
        = f.label :name, 'Nome completo'
        = f.text_field :name, :class => 'text'
      .field
        = f.label :username, 'Nome utente'
        = f.text_field :username, :class => 'text'
      .field
        = f.label :email
        = f.text_field :email, :class => 'text'
      .field
        = f.label :password
        = f.password_field :password, :class => 'text'
      .field
        = f.label "Conferma password"
        = f.password_field :password_confirmation, :class => 'text'
      .field
        = f.label :phone, 'Cellulare'
        = f.phone_field :phone, :class => 'text'
    %fieldset.submit
      = f.submit "Registrati", { :class => 'submit'}


%a{ :href => new_session_path(resource_name),  :id => "message" }
  Sei già registrato?
  %span 
    Accedi

/ = render :partial => "devise/shared/links"
