= form_for @libro do |f|
  -if @libro.errors.any?
    #error_explanation
      %h2= "#{pluralize(@libro.errors.count, "error")} prohibited this libro from being saved:"
      %ul
        - @libro.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :type_helper
    = f.select :type_helper, %w[Vacanze Parascolastico Scorrimento Scolastico Concorrenza].map
     
    end
  .field
    = f.label :titolo
    = f.text_field :titolo
  .field
    = f.label :sigla
    = f.text_field :sigla
  .field
    = f.label :copertina
    = f.text_field :copertina
  .field
    = f.label :consigliato
    = f.text_field :consigliato
  .field
    = f.label :prezzo_copertina
    = f.text_field :prezzo_copertina
  .field
    = f.label :prezzo_consigliato
    = f.text_field :prezzo_consigliato
  .field
    = f.label :materia_id
    = f.text_field :materia_id
  .actions
    = f.submit 'Save'
