%h1 Listino libri

%table
  %tr
    %th Titolo
    %th Sigla
    %th Prezzo di copertina
    %th Prezzo consigliato
    %th Da Consegnare
    %th Venduti
    %th Consegnati
  - totals = [0, 0]
  - @libri.each do |libro|
    %tr
      %td= link_to libro.titolo, libro
      %td= best_in_place libro, :sigla
      %td= best_in_place libro, :copertina
      %td= best_in_place libro, :consigliato
      %td= libro.copie_da_consegnare
      %td= libro.copie_vendute
      %td= libro.copie_consegnate
      %td= number_to_currency libro.fatturato

%br

= link_to 'Nuovo Libro', new_libro_path
