%h1 Listing libri

%table
  %tr
    %th Id
    %th Titolo
    %th Copertina
    %th Categoria
    %th
    %th Qta

  - @libri.each do |libro|
    %tr
      %td= libro.id
      %td= link_to libro.titolo, libro
      %td= libro.copertina
      %td= libro.categoria_id
      %td= link_to 'Edit', edit_libro_path(libro)
      %td= libro.appunto_righe.sum(:quantita).to_s

%br

= link_to 'New Libro', new_libro_path
