%h1 Listino libri

%table
  %tr
    %th Titolo
    %th Sigla
    %th Prezzo di copertina
    %th Prezzo consigliato
    %th Sum

  - @libri.each do |libro|
    %tr
      %td= link_to libro.titolo, libro
      %td= best_in_place libro, :sigla
      %td= best_in_place libro, :copertina
      %td= best_in_place libro, :consigliato
      %td= libro.appunto_righe.sum(:quantita).to_s

%br

= link_to 'Nuovo Libro', new_libro_path
