%p#notice= notice

= image_tag "libri/#{@libro.sigla}.jpg"
%p
  %b Titolo:
  = @libro.titolo
%p
  %b Copertina:
  = @libro.copertina
%p
  %b Categoria:
  = @libro.categoria_id

= link_to 'Edit', edit_libro_path(@libro)
\|
= link_to 'Back', libri_path

= render @libro.appunto_righe

/ - unless @libro.appunto_righe.nil?
= render 'appunto_righe/appunto_riga_full', :collection => @libro.appunto_righe
/ - @appunto_righe = @libro.appunto_righe
/ - @appunto_righe.each do |appunto_riga|
/   = render appunto_riga #:partial => 'appunto_righe/appunto_riga_full', :object => appunto_riga