%p#notice= notice

%p
  %b Titolo:
  = @libro.titolo
%p
  %b Copertina:
  = @libro.copertina
%p
  %b Categoria:
  = @libro.categoria_id

= link_to 'Edit', edit_libro_path(@libro)
\|
= link_to 'Back', libri_path
