#content_task_details
  #task_details
    .is_admin
      #td_header.header
        .back
          = link_to "Indietro", "javascript:history.back()"
        .delete
          = link_to "Elimina", @libro, :method => :delete, :confirm => 'Sei sicuro?', :title => 'Elimina libro'
        .edit
          = link_to 'Modifica', edit_libro_path(@libro)
      
      %p#notice= notice
      
      
      #td_libro_info
        #libro_img_container
          = image_tag "libri/#{@libro.sigla}.jpg"
        .info-container
          #td_task_title_input.title-container
            = best_in_place @libro, :titolo
          #td_task_title_input.title-container
            abbreviazione
            = best_in_place @libro, :sigla
            prezzo copertina
            = best_in_place @libro, :copertina
            = best_in_place @libro, :consigliato
            = best_in_place @libro, :coefficente
            = best_in_place @libro, :cm
        .clear
      #td_task_more_info




#visible_taskslist_title.group-title
  = "#{pluralize(@presenter.da_consegnare.sum(:quantita), 'librino' )} da consegnare"
#td_notes_activities
  .notes-activities-container
    - for a in @presenter.da_consegnare
      = render 'appunto_righe/appunto_riga_full', :appunto_riga => a

#visible_taskslist_title.group-title
  = "#{pluralize(@presenter.da_pagare.sum(:quantita), 'librino' )} da pagare"
#td_notes_activities
  .notes-activities-container
    - for a in @presenter.consegnati_da_pagare
      = render 'appunto_righe/appunto_riga_full', :appunto_riga => a

#visible_taskslist_title.group-title
  = "#{pluralize(@presenter.consegnati_pagati.sum(:quantita), 'librino' )} pagati"
#td_notes_activities
  .notes-activities-container
    - for a in @presenter.consegnati_pagati
      = render 'appunto_righe/appunto_riga_full', :appunto_riga => a

