%p#notice= notice

= image_tag "libri/#{@libro.sigla}.jpg"
%p
  %b Titolo:
  = @libro.titolo
%p
  %b Copertina:
  = @libro.copertina
%p
  %b Consigliato:
  = @libro.consigliato
%p
  %b Categoria:
  = @libro.categoria_id

= link_to 'Edit', edit_libro_path(@libro)
\|
= link_to 'Back', libri_path


#td_notes_activities
  .notes-activities-container
    - for a in @libro.appunto_righe
      = render 'appunto_righe/appunto_riga_full', :appunto_riga => a
