%tr{ :class => adozione.type.downcase }
  %td= adozione.materia.materia
  %td= adozione.cl
  %td= adozione.sezioni
  %td= link_to adozione.titolo, libro_path(adozione.libro_id)
  %td= adozione.totale_copie
  %td
    = form_tag  edit_individual_scuola_adozioni_path do
      - ids = adozione.adozioni_ids.gsub(/[{}]/, '').split(',')
      - for i in ids
        = hidden_field_tag 'adozione_ids[]', i.to_i
      = submit_tag 'Modifica'
