%li{ :id => "appunto_riga_#{appunto_riga_full.id}" }  
  .note-container
    .note
      .note-top
      .note-center
        .note-header
          %span.creator= "#{appunto_riga_full.appunto.destinatario} #{appunto_riga_full.appunto.nome_scuola}" unless appunto_riga_full.appunto.nil?
          .delete
          %span.date.radius-3= appunto_riga_full.created_at
        .note-content        
          = appunto_riga_full.libro.titolo unless appunto_riga_full.libro.nil?
          = best_in_place appunto_riga_full, :quantita
          = link_to "Elimina", appunto_riga_full, {:method => :delete, :remote => true}
          
      .note-bottom
      .clear
  .clear