%li{ :id => "appunto_riga_#{appunto_riga.id}" }  
  .note-container
    .note
      .note-top
      .note-center
        .note-header
          %span.creator
            = link_to appunto_riga.appunto.destinatario, appunto_path(appunto_riga.appunto) unless appunto_riga.appunto.nil?
            = link_to appunto_riga.appunto.nome_scuola, scuola_path(appunto_riga.appunto.scuola) unless appunto_riga.appunto.nil?
          .delete
          %span.date.radius-3= appunto_riga.created_at
        .note-content
          .riga_titolo     
            = appunto_riga.libro.titolo unless appunto_riga.libro.nil?
          .riga_quantita
            = best_in_place appunto_riga, :quantita
          .riga_operazione
            = " x "
          .riga_prezzo
            = best_in_place appunto_riga, :unitario
          .riga_operazione
            = " = "
          .riga_importo
            = appunto_riga.importo.format(:symbol)
          .riga_consegnato
            = best_in_place appunto_riga, :consegnato,  :type => :checkbox, :collection => ["no", "si"] 
          .riga_pagato
            = best_in_place appunto_riga, :pagato,      :type => :checkbox, :collection => ["no", "si"]
          
      .note-bottom
      .clear
  .clear