%li{ :id => "appunto_riga_#{appunto_riga.id}" }
  .note-avatar-div
    .note-avatar-container.radius-5
      %img{:src => "/images/libri/#{appunto_riga.libro.sigla}.jpg"}
  .note-container
    .note
      .note-top
      .note-center
        .note-header
          %span.creator 
            / = current_user.username
          .delete
            = link_to image_tag("td-delete.png"), appunto_riga, {:method => :delete, :remote => true}
            
            
          %span.date.radius-3= l appunto_riga.created_at, :format => :short
        .note-content        
          .riga_titolo
            = link_to(appunto_riga.libro.titolo, libro_url(appunto_riga.libro)) unless appunto_riga.libro.nil?
          .riga_quantita
            = best_in_place appunto_riga, :quantita
          .riga_operazione
            = " x "
          .riga_prezzo
            = best_in_place appunto_riga, :prezzo
          .riga_operazione
            = " = "
          .riga_importo
            = number_to_currency(appunto_riga.importo)
          .riga_consegnato
            = best_in_place appunto_riga, :consegnato,  :type => :checkbox, :collection => ["no", "si"] 
          .riga_pagato
            = best_in_place appunto_riga, :pagato,      :type => :checkbox, :collection => ["no", "si"]
        .clear
          
      .note-bottom
      .clear
  .clear

