= form_for @appunto_riga do |f|
  -if @appunto_riga.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appunto_riga.errors.count, "error")} prohibited this appunto_riga from being saved:"
      %ul
        - @appunto_riga.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :libro_id
    = f.text_field :libro_id
  .field
    = f.label :quantita
    = f.text_field :quantita
  .field
    = f.label :prezzo
    = f.text_field :prezzo
  .field
    = f.label :sconto
    = f.text_field :sconto
  .field
    = f.label :consegnato
    = f.check_box :consegnato
  .field
    = f.label :pagato
    = f.check_box :pagato
  .actions
    = f.submit 'Save'
