= form_for @appunto_riga, { :remote => true } do |f|
  -if @appunto_riga.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appunto_riga.errors.count, "error")} prohibited this appunto_riga from being saved:"
      %ul
        - @appunto_riga.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :appunto_id
  .field_inline.titolo
    = f.label "Libro"
    %br
    - @vendibili = Libro.unscoped.vendibili.select('distinct type').order(:type)
    = f.select :libro_id, option_groups_from_collection_for_select(@vendibili, :bros, :type, :id, :titolo), {:prompt => true}, {:class => 'chzn-select', :style => 'width:300px;'}
  
  .field_inline
    = f.label :quantita
    %br
    = f.text_field :quantita, {:class => 'qta'}
  .field_inline
    = f.label "Prezzo o Sconto"
    %br
    = f.text_field :price, {:class => 'qta'}
  = f.submit 'Aggiungi', { :class => 'btn_green' }
  .clear
  .field_inline
    = @appunto_riga.valore
  .field_inline
    = f.label :consegnato
    = f.check_box :consegnato
  .field_inline
    = f.label :pagato
    = f.check_box :pagato
.clear

