= form_for @appunto_riga, { :remote => true } do |f|
  -if @appunto_riga.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appunto_riga.errors.count, "error")} prohibited this appunto_riga from being saved:"
      %ul
        - @appunto_riga.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :appunto_id
  .field_inline.titolo
    = f.label "Libro"
    %br
    = collection_select(:appunto_riga, :libro_id, Libro.all, :id, :titolo, :prompt => true)
  .field_inline
    = f.label :quantita
    %br
    = f.text_field :quantita, {:class => 'qta'}
  .field_inline
    = f.label :prezzo
    %br
    = f.text_field :prezzo, {:class => 'qta'}
  .field_inline
    = f.label :sconto
    %br
    = f.text_field :sconto, {:class => 'qta'}
  = f.submit 'OK', { :class => 'btn_green' }
  .clear
  .field_inline
    = @appunto_riga.valore
  .field_inline
    = f.label :consegnato
    = f.check_box :consegnato
  .field_inline
    = f.label :pagato
    = f.check_box :pagato
.clear
  
