%li.task{ :id => "appunto_#{appunto.id}_visita_", :class => "#{get_status_class(appunto.stato)}" }
  .task-elt.bulk
    = check_box_tag "appunti_ids[]", appunto.id, false, {:class => 'cb-element'}
  #status_image.task-elt.status{ :class => 'img_appunto_' + h(appunto.id) }
    = link_to image_tag(show_status_icon(appunto.stato)), toggle_stato_appunto_path(appunto), :class => "img_appunto_" + h(appunto.id)
  .task-elt.details
    / .task-title= best_in_place appunto, :destinatario, :type => :input
    - destinatario = (appunto.destinatario.empty?) ? '...' : appunto.destinatario
    .task-title= link_to destinatario, appunto_path(appunto)
    .task-title= link_to appunto.nome_scuola, scuola_path(appunto.scuola) unless appunto.scuola.blank?
    .task-title= best_in_place appunto, :note, :type => :input
    .task-title.hidden= "prov=#{appunto.scuola.provincia}"
    .task-title.hidden= "citta=#{appunto.scuola.citta}" 
    .labels= appunto.appunto_righe_sum
    .labels= appunto_tags(appunto)

  .clear
  / - @appunto_righe = appunto.appunto_righe
  / - unless @appunto_righe.nil?
  /   = render :partial => 'appunto_righe/appunto_righe'
    
    