%li.task{ :id => "appunto_#{appunto.id}_visita_", :class => "#{get_status_class(appunto.stato)}" }
  .hidden= "prov=#{appunto.scuola.provincia}"
  .hidden= "citta=#{appunto.scuola.citta}"
  .stato.hidden= "#{appunto.stato}"
  .created_at.hidden= "#{appunto.created_at}"
  .updated_at.hidden= "#{appunto.updated_at}"
  
  .task-elt.bulk
    = check_box_tag "appunti_ids[]", appunto.id, false, {:class => 'cb-element'}
  #status_image.task-elt.status{ :class => "img_appunto_#{appunto.id}" }
    - link_to( toggle_stato_appunto_path(appunto), {:class => "img_appunto_#{appunto.id}"}) do
      %span
    / = link_to image_tag(show_status_icon(appunto.stato)), toggle_stato_appunto_path(appunto), :class => "img_appunto_" + h(appunto.id)
  .task-elt.details
    - destinatario = (appunto.destinatario.blank?) ? '...' : appunto.destinatario
    .task-title= link_to destinatario, appunto_path(appunto)
    .scuola.task-title= link_to appunto.nome_scuola, scuola_path(appunto.scuola) unless appunto.scuola.blank?
    .task-title= best_in_place appunto, :note, :type => :input
    / .labels= appunto.totale_copie
    / .labels= number_to_currency(appunto.totale_importo)
    .labels= appunto_tags(appunto)
  .note= "#{appunto.totale_copie}"
  .clear
  - if ( app_righe == true )
    - unless appunto.appunto_righe.blank?
      = render :partial => 'appunto_righe/appunto_righe', :locals => { :appunto => appunto }

    