
<%= will_paginate( @appunti, :page_links => false ) %>

<table class="pretty">
  <tr>
    <th><%= sortable "destinatario" %></th>  
    <th><%= sortable "scuola", "Scuola" %></th>  
    <th><%= sortable "note" %></th> 
    <th><%= sortable "telefono" %></th>  
    <th><%= sortable "stato" %></th>  
    <th><%= sortable "scadenza" %></th> 
    <th><%= sortable "created_at", "creato il" %></th> 
    <th></th>
  </tr>

<% @appunti.each do |appunto| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= appunto.destinatario %></td>
    <td><%= appunto.scuola %></td>
    <td><%= appunto.note %></td>
    <td><%= appunto.telefono %></td>
    <td><%= appunto.stato %></td>
    <td><%= appunto.scadenza %></td>
    <td><%= appunto.created_at %></td>
    <td class="list_actions" >
        <%= link_to 'Mostra', appunto %><br/>
        <%= link_to 'Nodifica', edit_appunto_path(appunto) %><br/>
        <%= link_to 'Elimina', appunto,
                    :confirm => 'Sei sicuro?',
                    :method => :delete %>
      </td>
  </tr>
<% end %>
</table>
