#appunti
  - unless @appunti.empty? 
    = form_tag edit_or_print_appunti_path do
      = render 'appunti/appunti_navbar'
      = page_entries_info @appunti
      = will_paginate @appunti, :class => 'pagination'
      .clear
      = render @appunti
      .clear
      = will_paginate @appunti, :class => 'pagination'
      = render 'appunti/appunti_navbar'
      .clear
  - else
    %div{ :class => ['flash', 'notice'] }= 'non ho trovato nessun appunto'
