#count-citta-list
  - @appunti.each do |k, v|
    .provincia-group
      %span.provincia= k
      %span.tot-citta= v.length
      %span.tot-appunti= v.map{|p| p.count_appunti_in_corso.to_i}.inject(:+)
      %ul.list-group
        - v.each do |a|
          %li
            = link_to appunti_url(:citta => a.citta), :remote => true do
              %span.citta
                = a.citta
              %span.count-appunti
                = a.count_appunti_in_corso