- content_for :head do
  = formtastic_stylesheet_link_tag

.form_appunto
  = semantic_form_for @appunto do |f|
    - render 'shared/error_messages', :object => f.object
    = f.buttons
    = f.inputs do
      = f.input :stato, :as => :radio, :collection => {"da consegnare" => "", "in sospeso" => "P", "consegnato" => "X" }
      = f.input :destinatario, :input_html => { :size => 40  }, :wrapper_html => { :class => "important" } 
      = f.autocompleted_input	 :nome_scuola, :url => autocomplete_scuola_nome_scuola_appunti_path, :size => 40
      = f.input :note,         :input_html => { :rows => 5, :cols => 40  }
      %li
        %label{:for => "tag_list"} Tags
        #tags_input

          / = f.input :tag_list,     :label => 'Tag', :input_html => { :size => 40  }
      = f.input :telefono,     :input_html => { :size => 40  }
      = f.input :email,        :input_html => { :size => 40  }

    = f.semantic_fields_for :indirizzi do |indirizzo|
      = indirizzo.inputs do
        = indirizzo.input :destinatario
        = indirizzo.input :indirizzo
        = indirizzo.input :citta
        = indirizzo.input :cap
        = indirizzo.input :provincia
        / = indirizzo.input :latitude
        / = indirizzo.input :longitude
      