<%= simple_form_for @appunto do |f| %>  
  
  <% if @appunto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appunto.errors.count, "error") %> Non è possibile salvare le modifiche:</h2>

      <ul>
      <% @appunto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :destinatario, :input_html => { :style => "text-transform:uppercase;" } %>  
  <%= f.input :scuola, :input_html => { :style => "text-transform:uppercase;", :keyup => "javascript:this.value=this.value.toUpperCase();" } %>  
  <%= f.input :note, :input_html => { :rows => 3, :cols => 50 } %>
  <%= f.input :telefono %>
  <%= f.input :stato %>  
  <%= f.input :scadenza %>  
  <%= f.button :submit %>  
<% end %>  
