#appunto_form
  = nested_form_for @appunto do |f|
    = render 'shared/error_messages', :object => f.object
    %fieldset
      .radio_buttons.left
        = f.radio_button :stato, ''
        = f.label :stato, "da consegnare"
        = f.radio_button :stato, 'P'
        = f.label :stato, "in sospeso"
        = f.radio_button :stato, 'X'
        = f.label :stato, "consegnato"
      .right= f.submit "Salva", :class => 'btn_blue'
      %p
        = f.autocomplete_field :scuola_nome_scuola, autocomplete_scuola_nome_scuola_appunti_path, {:size => 40, :placeholder => "... dove?"}
        = f.label :scuola 
      %p
        = f.text_field :destinatario,  {:size => 40, :placeholder => "... chi?"}
        = f.label :destinatario
      %p
        = f.text_area :note, :rows => 3, :cols => 40
      .line.token_container
        = f.text_field :tag_tokens, "data-pre" => @appunto.tags.map(&:attributes).to_json
        = f.label :tag_tokens, "Tags"
        .clear
      %p
        = f.telephone_field :telefono, :size => 40 
        = f.label :telefono
      %p
        = f.email_field :email, :size => 40
        = f.label :email
    - @vendibili = Libro.unscoped.vendibili.select('distinct type').order(:type)
    - f.fields_for :appunto_righe do |t|
      %p
        = t.hidden_field :appunto_id
        = t.select :libro_id, option_groups_from_collection_for_select(@vendibili, :bros, :type, :id, :titolo, t.object.libro_id), :prompt => true
        = t.label :quantita
        = t.text_field :quantita, {:class => 'qta'}
        ~ t.label :price, "Prezzo"
        = t.text_field :price, {:class => 'qta'}
        = t.link_to_remove "Elimina", :class => 'btn_red'
    %fieldset
      = f.link_to_add "Aggiungi riga", :appunto_righe, :class => 'btn_green'
    