.form_appunto
  = form_for @appunto do |f|
    - if @appunto.errors.any?
      #error_explanation
        %h2= pluralize(@appunto.errors.count, "error") 
        / prohibited this appunto from being saved:
        %ul
          = @appunto.errors.full_messages.each do |msg|
            %li msg 
    #field{"data-role" => "fieldcontain"}
      = f.label :destinatario
      = f.text_field :destinatario
    #field{"data-role" => "fieldcontain"}
      = f.label :scuola
      = f.collection_select(:scuola_id, current_user.scuole.order("nome_scuola"), :id, :nome_scuola, {:prompt => "Scegli la Scuola", :include_blank => true})
    #field{"data-role" => "fieldcontain"}
      = f.label :note
      = f.text_area :note, :id => 'area_note'
    #field{"data-role" => "fieldcontain"}
      = f.label :telefono
      = f.phone_field :telefono
    #field{"data-role" => "fieldcontain"}
      = f.label :email
      = f.email_field :email
      #field{"data-role" => "fieldcontain"}
        = f.label :stato
        = f.select(:stato, options_for_select([["...", ""],["in sospeso", "P"],["completato", "X"]], @appunto.stato))
    .actions.last.center
      = f.submit