= form_for(@appunto) do |f|
	- if @appunto.errors.any?
		#error_explanation
			%h2= pluralize(@appunto.errors.count, "error") 
			/ prohibited this appunto from being saved:
			%ul
			= @appunto.errors.full_messages.each do |msg|
				%li msg 
	.actions.float_right
		= f.hidden_field :user_id, :value => current_user.id.to_s
		= f.submit
	.field
		= f.label :stato
		= f.select(:stato, options_for_select([["in sospeso", "P"],["completato", "X"]], @appunto.stato), :include_blank => true)
	.field
		= f.label :destinatario
		= f.text_field :destinatario
	.field
		= f.label :scuola
		= f.autocomplete_field :scuola_nome_scuola_completo, autocomplete_scuola_nome_scuola_appunti_path
	/ .field
	/ 	= f.label :scuola
	/ 	= f.collection_select(:scuola_id, Scuola.all, :id, :nome_scuola, {:prompt => "Scegli la Scuola", :include_blank => true})
	.field
		= f.label :note
		= f.text_area :note, :rows => "3"
	.field
		= f.label :telefono
		= f.phone_field :telefono
	.field
		= f.label :email
		= f.email_field :email

