= title "Modifica #{@appunti.count.to_s} appunti"
.clear

= form_for :appunto, :url => update_multiple_appunti_path, :html => {:method => :put} do |f|
  %ul
    - for appunto in @appunti do
      %li
        = hidden_field_tag "appunti_ids[]", appunto.id
        = appunto.destinatario
        = appunto.scuola.nome_scuola unless appunto.scuola.nil?
        = appunto.note
  .actions.float_right
    = f.submit
  .field
    = f.label :stato
    = f.select(:stato, options_for_select([["in sospeso", "P"],["completato", "X"]]), :include_blank => true)
  .field
    = f.label :destinatario
    = f.text_field :destinatario
  .field
    = f.label :scuola
    = f.collection_select(:scuola_id, Scuola.all, :id, :nome_scuola, {:prompt => "cambia la scuola", :include_blank => true})
  .field
    = f.label :note
    = f.text_area :note, :rows => 5, :cols => 40
  .field
    = f.label :telefono
    = f.phone_field :telefono
  .field
    = f.label :tag_list
    = f.text_field :tag_list
  
  
  