%h1= "Edit Multiple Appunti"

- form_for :appunto, :url => update_multiple_appunti_path, :html => {:method => :put} do |f|
  %ul
    - for appunto in @appunti do
      %li
        = hidden_field_tag "appunti_ids[]", appunto.id
        = appunto.destinatario
        = appunto.scuola.nome_scuola unless appunto.scuola.nil?
        = appunto.note
  .field
    = f.label :destinatario
    %br 
    = f.text_field :destinatario
  .field
    = f.label :scuola
    %br
    = f.collection_select(:scuola_id, Scuola.all, :id, :nome_scuola, {:prompt => "cambia la scuola", :include_blank => true})
  .field
    = f.label :note
    %br
    = f.text_area :note, :html => {:rows => 3}
  .field
    = f.label :telefono
    %br
    = f.text_field :telefono
  .field
    = f.label :stato
    = f.select(:stato, options_for_select([["in sospeso", "P"],["completato", "X"]]), :include_blank => true)
  .actions
    = f.submit