#content_task_details
  #task_details
    .is_admin
      #td_header.header
        .back
          = link_to "Indietro", "javascript:history.back()"
        .delete
          = link_to "Elimina", @appunto, :method => :delete, :confirm => 'Sei sicuro?', :title => 'Elimina      appunto'
      #td_task_info
        .status-container
          = show_status_css(@appunto.stato)
        .star-container
          #star_span.star_3-0
        .info-container
          #td_task_title_input.title-container
            = best_in_place @appunto, :destinatario, :type => :input
          #td_task_title_input.title-container
            = best_in_place @appunto, :nome_scuola
            / = best_in_place @appunto, :nome_scuola, :type => :select, :collection => [["IC ALFONSINE", 2],["E MATTEOTTI ALF", 3]]
          #td_task_title_input.title-container
            = best_in_place @appunto, :note, :type => :textarea
        .clear
      #td_task_more_info
        #td_task_timing.timing-container
        #td_task_schedule_it.timing-container-btn
          .btn_gray.action
            tel
            = best_in_place @appunto, :telefono
        #td_task_assign_it.assign-container-btn
          .btn_gray.action
            email
            = best_in_place @appunto, :email
        .clear
        .access-container
          Creator:
          %span.info= current_user.name
          Creato il:
          %span= @appunto.created_at.to_s
        
      #td_notes_activities
        %ul
          - for a in @appunto.appunto_righe
            %li
              = a.libro.titolo
              = a.quantita



/ - title "appunto"
/ 
/ = render @appunto
/   
/ #a_visita
/   = render 'appunti/visita_add'
/   = render 'appunti/visita_del'