= form_tag update_individual_scuola_classi_path(@classi[0].scuola_id), :method => :put do

  #content_task_details
    #toolbar_show.header
      .back
        = link_to "Indietro", "javascript:history.back()"
      .submit
        = submit_tag 'Salva', :class => 'btn_grey'
      .new
        = link_to "Nuova", {:action => :new, :controller => @current_controller}

    %h1= @scuola.to_s
    
    %table#table_classi
      %tr
        %th= "Classe"
        %th= "Sezione"
        %th= "Nr alunni"
        %th
      - for a in @classi do    
        = fields_for "classi[]", a do |f|
      
          -if a.errors.any?
            #error_explanation
              %h2= "#{pluralize(a.errors.count, "errore")} Impossibile salvare classi:"
              %ul
                - a.errors.full_messages.each do |msg|
                  %li= msg
          %tr[a]
            = f.hidden_field :scuola_id
            %td= f.select( :classe, %w(1 2 3 4 5))
            %td= f.text_field :sezione
            %td= f.text_field :nr_alunni
            %td.delete= link_to 'Elimina', [@scuola, a], :method => :delete, :remote => true

#td_notes_activities
  .td_create_appunto_riga
    - @classe = @scuola.classi.build
    = render 'classi/form'
.clear