= form_for @fattura do |f|
  -if @fattura.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fattura.errors.count, "error")} prohibited this fattura from being saved:"
      %ul
        - @fattura.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :scuola_id
  = f.hidden_field :user_id
  .field
    = f.label :numero
    = f.text_field :numero
  .field
    = f.label :data
    = f.text_field :data
  .field
    = f.label :causale_id
    = f.text_field :causale_id
  .field
    = f.label :dettaglio_righe
    = f.check_box :dettaglio_righe
  .actions
    = f.submit 'Save'
