%h1 Listing fatture

- totali_fatture =  {:count => 0, :copie => 0, :importo => 0}

%table#fatture_table
  %thead
    %tr
      %th Numero
      %th Data
      %th Cliente
      %th.t-right Copie
      %th.t-right Importo
      %th
      %th
      %th
  %tbody
    - @fatture.each do |fattura|
      %tr
        %td= best_in_place fattura, :numero
        %td= best_in_place fattura, :data
        %td= fattura.scuola
        %td.t-right= fattura.totale_copie
        %td.t-right= fattura.importo
        %td= best_in_place fattura, :pagata
        %td= link_to 'Show', fattura
        %td= link_to 'Edit', edit_fattura_path(fattura)
        %td= link_to 'Destroy', fattura, :confirm => 'Are you sure?', :method => :delete

%br

- totali =  {:count => 0, :copie => 0, :importo => 0}

%table#da_fatturare_table
  %thead
    %tr
      %th Codice
      %th Cliente
      %th Provincia
      %th.t-right Nr.Appunti
      %th.t-right Copie
      %th.t-right Importo
      %th.t-center Stato
  %tbody
    - @da_fatturare.each do |s|
      - totali[:count] += s.count.to_i
      - totali[:copie] += s.copie.to_i
      - totali[:importo] += s.importo.to_f
      %tr
        %td= s.id
        %td= link_to s.nome_scuola, scuola_path(s.id)
        %td= s.provincia
        %td.t-right= s.count
        %td.t-right= s.copie
        %td.t-right= s.importo.to_f / 100
        %td.t-center= s.stato
  %tfoot
    %tr
      %td 
      %td 
      %td 
      %td.t-right= totali[:count]
      %td.t-right= totali[:copie]
      %td.t-right= totali[:importo].to_f / 100
      %td
    


= link_to 'New Fattura', new_fattura_path
