%h1 Listing fatture

%table#fatture_table
  %thead
    %tr
      %th Numero
      %th Data
      %th Cliente
      %th Copie
      %th Importo
      %th
      %th
      %th
  %tbody
    - @fatture.each do |fattura|
      %tr
        %td= fattura.numero
        %td= fattura.data
        %td= fattura.scuola
        %td= fattura.totale_copie
        %td= fattura.importo
        %td= link_to 'Show', fattura
        %td= link_to 'Edit', edit_fattura_path(fattura)
        %td= link_to 'Destroy', fattura, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Fattura', new_fattura_path
