%p#notice= notice

%p
  %b Numero:
  = @fattura.numero
%p
  %b Data:
  = @fattura.data
%p
  %b Scuola:
  = @fattura.scuola
%p
  %b User:
  = @fattura.user
%p
  %b Causale:
  = @fattura.causale_id
%p
  %b Dettaglio righe:
  = @fattura.dettaglio_righe
%p
  %b Totale Copie:
  = @fattura.totale_copie
%p
  %b Totale Fattura:
  = @fattura.importo
  

  

= link_to 'Edit', edit_fattura_path(@fattura)
\|
= link_to 'Back', fatture_path
\|
= link_to 'print', fattura_path(@fattura, :format => 'pdf' )

= nested_righe_per_appunto(@appunto_righe)