#content_task_details
  = render :partial => 'shared/toolbar_show', :locals => {:obj => @fattura}

#fattura_info
  %dl
    %dt numero:
    %dd= best_in_place @fattura, :numero
    %dt data:
    %dd= best_in_place @fattura, :data
    %dt cliente:
    %dd= link_to @fattura.scuola.nome_scuola, @fattura.scuola
    %dt pagamento:
    %dd= best_in_place @fattura, :condizioni_pagamento, :type => :select, :collection => [['Contanti', 'Contanti'], ['Bonifico', 'Bonifico'], ['Assegno', 'Assegno']]
    %dt pagata:
    %dd= best_in_place @fattura, :pagata, :type => :checkbox, :collection => ["Non ancora", "Si"]
  %dl  
    %dt totale copie:
    %dd= @fattura.totale_copie
    %dt totale fattura:
    %dd= @fattura.importo
    
#fattura_destinatario
  = render @indirizzo, :scuola => @scuola

.clear

#fattura_righe
  = nested_righe_per_appunto(@appunto_righe)