- unless @scuole.nil?
  - content_for :search_bar do
    #search_bar
      - form_for @search do |f|
        = f.label :nome_scuola_contains, "Nome"
        = f.text_field :nome_scuola_contains
        = f.label :citta_contains, "Città"
        = f.text_field :citta_contains
        .left
          = f.label :scuola_provincia_matches, "Provincia"
        .right
          = f.select(:provincia_matches , get_provincie_appunti.collect {|p| [p.provincia]}, :include_blank => true)
        .clear
        .right
          = f.submit "Cerca", :disable_with => 'sto cercando...'
        .clear