#giro
  %h1= "Giro #{@giro.titolo } nr. #{@giro.id} del #{@giro.data} #{@giro.note}" 
  %h4= "- #{pluralize(@giro.tappe.size, 'tappa')} -"
  - form_tag stampe_riepilogo_adozioni_path, :method => :post do

    - for id in @scuola_ids do
      = hidden_field_tag 'scuola_ids[]', id
    = submit_tag "Riepilogo"

  - form_tag stampe_sovrapacchi_adozioni_path, :method => :post do
    
    - for id in @scuola_ids do
      = hidden_field_tag 'scuola_ids[]', id
    = submit_tag "Sovrapacchi"

  - for s in @tappe do
    .scuola
      %h1
        = link_to s.scuola.nome_scuola, s.scuola
      %br
    
      %ul.adozioni_scuola
        - for a in s.scuola.adozioni.scolastico.per_classe_e_sezione do
          %li
            .titolo
              = link_to a.libro.titolo, a.libro
            .classe  
              = a.classe.to_s
            .clear  
      .clear
      %ul.appunti_scuola
        = render :partial => 'appunti/appunti', :locals => { :appunti => s.scuola.appunti.in_corso,  :righe =>  false }
        / = render s.scuola.appunti.in_corso, :locals => {:righe => true}
        / - for p in s.scuola.appunti.in_corso do
        /           %li
        /             .destinatario
        /               = p.destinatario
        /             .note
        /               = p.note
        /             .telefono
        /               = p.telefono
        /             .stampa  
        /               = link_to "Stampa", appunto_path(p, :format => 'pdf')
      %ul.recapiti_scuola
        - for t in s.scuola.appunti.con_recapito do
          %li
            .telefono
              tel.
              = t.telefono
              = t.destinatario
              = t.note