/ - unless @appunti.nil?
/   = form_tag appunti_path, :method => 'get', :id => "search_appunti" do
/     - hidden_field_tag :direction, params[:direction]
/     - hidden_field_tag :sort, params[:sort]
/     - hidden_field_tag :in_corso, params[:in_corso]
/     %p
/       = text_field_tag :search, params[:search]
/       = submit_tag "Cerca", :name => nil
/   .clear

- unless @appunti.nil?
  - content_for :search_bar do
    #search_bar
      - form_for @search do |f|
        = f.label :destinatario_or_note_or_scuola_nome_scuola_or_scuola_citta_contains, "Cerca appunti..."
        #field_cerca
          = f.text_field :destinatario_or_note_or_scuola_nome_scuola_or_scuola_citta_contains
        = f.label :scuola_citta_matches, "Citta"
        #select_citta
          = f.select(:scuola_citta_matches , get_citta_appunti.collect {|p| [p.citta]}, :include_blank => true)
        .clear
        = f.label :scuola_provincia_matches, "Provincia"
        .right
          = f.select(:scuola_provincia_matches , get_provincie_appunti.collect {|p| [p.provincia]}, :include_blank => true)
        .clear
        = f.label :stato_matches, "Stato"
        .right
          = f.select(:stato_matches , options_for_select([["in sospeso", "P"],["completato", "X"]]), :include_blank => true)
        .clear
        .right
          = f.submit "Cerca", :disable_with => 'sto cercando...'
        .clear