- title "About"

= render :partial => 'shared/search_appunti'

#map_show_appunti
  = submit_tag "Mostra Mappa"
#markers_fit
  = submit_tag "Fit Bounds"

#map_appunti


/ #markers_add
/   = submit_tag "Mostra markers appunti", :action => 'get_appunti_markers', :method => 'get', :remote => true


#appunti.left_appunti
  #da_assegnare_size
    = @appunti.size
  #da_assegnare.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti

#appunti.right_appunti
  #assegnati_size
    = @appunti_assegnati.size
  #assegnati.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti_assegnati
         
			

