- title "About"

= render :partial => 'shared/search_appunti'

#appunti.left_appunti
  #da_assegnare_size
    = @appunti.size
  #da_assegnare.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti

#appunti.right_appunti
  #assegnati_size
    = @appunti_assegnati.size
  #assegnati.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti_assegnati
         
			

