- title "About"

= render :partial => 'shared/search_appunti'


.controlli
  %span
    %input{ 'type' => "checkbox", 'class' => 'checkAll' }
    %b
      Seleziona tutti
  oppure
  %span
    %a.invertSelection
      Inverti Selezione



#map_show_appunti
  = submit_tag "Mostra Mappa"
#markers_fit
  = submit_tag "Fit Bounds"

#map_appunti

#directions_panel

#appunti.left_appunti
  #da_assegnare_size
    = @appunti.size
  #da_assegnare.connectedSortable
    = render :partial => 'appunti/appunti'

#appunti.right_appunti
  #assegnati_size
    = @appunti_assegnati.size
  #assegnati.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti_assegnati
         
			

