- title "About"

= render :partial => 'shared/search_appunti'


  
= link_to_function("Print this Page", "javascript:print()")

#map_show_appunti.float_left
  = submit_tag "Mostra Mappa"
#markers_fit.float_left
  = submit_tag "Fit Bounds"
#print_map
  = link_to "Stampa Mappa"
#map_appunti

#altra_mappa

/ #markers_add
/   = submit_tag "Mostra markers appunti", :action => 'get_appunti_markers', :method => 'get', :remote => true


#appunti.left_appunti
  #da_assegnare_size
    = @appunti.size
  #da_assegnare.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti

#appunti.right_appunti
  #assegnati_size
    = @appunti_assegnati.size
  #assegnati.connectedSortable
    = render :partial => 'appunti/appunto', :collection => @appunti_assegnati
         
			

