- title "What's up"

- @visite.each do |v|
  = v.title
  = v.start
  = v.end
  %br

= render :partial => 'shared/search_appunti'

/ = render :partial => 'provincie'


= render :partial => 'appunti/appunti'

/ #giro
/   = current_user.appunti.con_recapito.per_destinatario.size
/   = render current_user.appunti.con_recapito.per_destinatario
  