/ - title "What's up"

= render :partial => 'shared/search_appunti'
= render :partial => 'appunti/appunto_form'
= render :partial => 'appunti/citta_list'

#visible_taskslist_title.group-title Appunti recenti
= render :partial => 'appunti/appunti_header'
= render :partial => 'appunti/appunti', :locals => {:appunti => @recent, :righe => false}

