- form_tag stampe_riepilogo_adozioni_path, :method => :post do
  - ids = params[:scuola_ids]
  - for id in ids do
    = hidden_field_tag 'scuola_ids[]', id
  = submit_tag "Riepilogo"

- form_tag stampe_sovrapacchi_adozioni_path, :method => :post do
  - ids = params[:scuola_ids]
  - for id in ids do
    = hidden_field_tag 'scuola_ids[]', id
  = submit_tag "Sovrapacchi"

#giro
  - for s in @scuole do
    .scuola
      %h1
        = link_to s.nome_scuola, s
      %br
    
      %ul.adozioni_scuola
        - for a in s.adozioni.scolastico.per_classe_e_sezione do
          %li
            .titolo
              = link_to a.libro.titolo, a.libro
            .classe  
              = a.classe.to_s
            .clear  
      .clear
      %ul.appunti_scuola
        - for p in s.appunti.in_corso do
          %li
            .destinatario
              = p.destinatario
            .note
              = p.note
            .telefono
              = p.telefono
            .stampa  
              = link_to "Stampa", appunto_path(p, :format => 'pdf')
      
    