- title @title

#table_fabbisogno
  %table
    %tr
      %th Titolo
      %th Quantità
    - @fabbisogno.each do |codice, titolo, quantita|
      %tr
        %td= link_to titolo, libro_url(codice)
        %td= quantita

#table_calc
  = number_to_currency(@incasso)

#appunti_div
  = form_tag edit_or_print_appunti_path, :method => :post, :id => "form_appunti" do
    .autopagerize_page_element
      %ul#appunti.tasks
        - @appunti.each do |appunto|  
          = render appunto
          - unless appunto.appunto_righe.blank?
            = render 'appunto_righe/appunto_righe', :appunto => appunto
     