- title @title

- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
  = link_to tag.name, {:controller => :tags, :action => :appunti_cloud, :id => tag.name}, {:class => css_class}
%br



#table_fabbisogno
  %table
    %tr
      %th Titolo
      %th Quantità
    - @fabbisogno.each do |codice, titolo, quantita|
      %tr
        %td= link_to titolo, libro_url(codice)
        %td= quantita

#appunti_div
  = form_tag edit_or_print_appunti_path, :method => :post, :id => "form_appunti" do
    .autopagerize_page_element
      %ul#appunti.tasks
        - @appunti.each do |appunto|  
          = render appunto
          %table#righe_small_list
            - totale = [0, 0]
            - for a in appunto.appunto_righe.per_libro_id
              - totale[0] = totale[0] + a.quantita
              - totale[1] = totale[1] + a.importo.to_f
              = render 'appunto_righe/appunto_riga_small', :appunto_riga => a
          = totale[0]
          = totale[1]              