<%= simple_form_for(@scuola) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nome_scuola %>
    <%= f.input :citta %>
    <%= f.input :provincia %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
