- content_for :head do
  = formtastic_stylesheet_link_tag

= semantic_form_for(@scuola, :namespace => 'cat_form') do |f|
  - render 'shared/error_messages', :object => f.object
  = f.buttons
  = f.inputs do
    = f.input :nome_scuola,  :input_html => { :cols => 40  }
    = f.input :citta,        :input_html => { :cols => 40  }
    = f.input :provincia,    :input_html => { :size => 5  }
    / = f.input :parent_id, :as => :select, :collection => Scuola.direzioni.order(:nome_scuola)
    = f.input :telefono,    :input_html => { :size => 10  }
    = f.input :fax,         :input_html => { :size => 10  }
    = f.input :cellulare,   :input_html => { :size => 10  }
    = f.input :email
    = f.input :codice_fiscale
    = f.input :partita_iva
    %li
      %label{:for => "parent_id"} Direzione
      = f.collection_select :parent_id, Scuola.direzioni.order(:provincia, :nome_scuola), :id, :nome_scuola, {:include_blank => true}, { :class => 'select_direzione'}
  
  = f.semantic_fields_for :indirizzi do |indirizzo|
    = indirizzo.inputs do
      = indirizzo.input :destinatario
      = indirizzo.input :indirizzo
      = indirizzo.input :cap
      = indirizzo.input :citta
      = indirizzo.input :provincia
      = indirizzo.input :gmaps
      = indirizzo.input :latitude
      = indirizzo.input :longitude