%li.scuola_item{'id' => "scuola_#{scuola.id}" }
  %span.handle
    = image_tag "sort_down.gif"
  #nome_scuola
    = link_to "#{scuola.nome_scuola} #{ scuola.citta}", scuola_path(scuola) 
  #provincia
    = scuola.provincia