= render :partial => 'shared/search_scuole'

- title "Lista scuole"

#map_show_scuole
  = submit_tag "Mostra Mappa"
#popin_show
  = submit_tag "Fit Bounds"



#directions_panel

.controlli
  %span
    %input.checkAll{ 'type' => "checkbox" }
    %b
      Seleziona tutti
  oppure
  %span
    %a.invertSelection
      Inverti Selezione

#scuole.left_scuole
  = render :partial => 'scuole'


%table
  %tr
    %th
      Nome Scuola
    %th
      Venduto
  - for v in @venduto_per_scuola do
    %tr
      %td
        = v.nome_scuola
      %td
        = h (v.venduto.to_f / 100)


#scuole.right_scuole


			
