<% title 'Lista scuole' %>

<table>
  <tr>
    <th>Nome</th>
    <th>Citta</th>
    <th>Provincia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scuole.each do |scuola| %>
  <tr>
    <td><%= link_to scuola.nome_scuola, scuola_path(scuola) %></td>
    <td><%= scuola.citta %></td>
    <td><%= scuola.provincia %></td>
    <td><%= link_to 'Show', scuola %></td>
    <td><%= link_to 'Edit', edit_scuola_path(scuola) %></td>
    <td><%= link_to 'Destroy', scuola, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scuola', new_scuola_path %>
