= render :partial => 'shared/search_scuole'

- title "Lista scuole"

= render :partial => 'shared/provincie'

#map_show_scuole
  = submit_tag "Mostra Mappa"
#popin_show
  = submit_tag "Fit Bounds"

#map_scuola

#directions_panel

.controlli
  %span
    %input.checkAll{ 'type' => "checkbox" }
    %b
      Seleziona tutti
  oppure
  %span
    %a.invertSelection
      Inverti Selezione

#scuole.left_scuole
  = render :partial => 'scuole'

#scuole.right_scuole


#popin_bulk{ :style => "display: none;" } 
  %span.title-bulk Bulk actions
  %ul
    %li.all
      %span.bulk-select Select
      .cntr_all_none
        %a.notnone{ :href => "javascript:;", :onclick => "tasklist_bulk.check_all();" } All
        %a.none{ :href => "javascript:;", :onclick => "tasklist_bulk.uncheck_all();" } None
			
