= render :partial => 'shared/search_scuole'

- title "Lista scuole"

= render :partial => 'shared/provincie'

#map_show_scuole
  = submit_tag "Mostra Mappa"
#popin_show
  = submit_tag "Fit Bounds"

#map_scuola

#directions_panel

.controlli
  %span
    %input.checkAll{ 'type' => "checkbox" }
    %b
      Seleziona tutti
  oppure
  %span
    %a.invertSelection
      Inverti Selezione

#scuole.left_scuole
  = render :partial => 'scuole'


- for v in @venduto_per_scuola do
  = v.nome_scuola
  = v.venduto
  %br

#scuole.right_scuole


			
