- require 'conversion'

#content_task_details
  #task_details
    .is_admin
      #td_header.header
        .back
          = link_to "Indietro", "javascript:history.back()"
        .delete
          = link_to "Elimina", @appunto, :method => :delete, :confirm => 'Sei sicuro?', :title => 'Elimina      appunto'
      #td_task_info
        #td_task_title_input.title-container
          = best_in_place @scuola, :nome_scuola
          = best_in_place @scuola, :citta
          = best_in_place @scuola, :provincia
  
  / - title "#{@scuola.nome_scuola} #{@scuola.citta} #{@scuola.provincia}"

#fattura_destinatario
  = render :partial => 'indirizzi/indirizzo', :locals => { :scuola => @scuola, :indirizzo => @indirizzo }

  
.scuola_id
  = @scuola.id
  
- unless @indirizzo.nil?
  .scuola_descrizione
    = best_in_place @indirizzo, :destinatario
  .scuola_indirizzo
    %span
      = best_in_place @indirizzo, :indirizzo
    %br  
      = best_in_place @indirizzo, :cap
      = best_in_place @indirizzo, :citta
      = best_in_place @indirizzo, :provincia
  .scuola_indirizzo_id
    = @indirizzo.id
  = best_in_place @scuola, :telefono  
  = best_in_place @scuola, :fax 
  = best_in_place @scuola, :cellulare 
  = best_in_place @scuola, :email 
  = best_in_place @scuola, :codice_fiscale 
  = best_in_place @scuola, :partita_iva 
  
  .scuola_latlong
    = best_in_place @indirizzo, :latitude
    = best_in_place @indirizzo, :longitude
    
  #scuola_latitude
    = @indirizzo.latitude
  #scuola_logitude
    = @indirizzo.longitude
    
  = @presenter.copie_per_scuola  
/ - content_for :go_map do
/   = javascript_include_tag 'jquery.gomap-1.3.0.js'
%br
#scuola_edit
  = link_to "edit", edit_scuola_path(@scuola)
  |
  = link_to "new", new_scuola_path
%br  
#map_show
  = submit_tag "Mostra Mappa" 
#map_test
  = submit_tag "Mostra test"

#mappa_scuola
%br

= link_to "Fattura", new_fattura_path(:scuola => @scuola), :class => 'btn_blue'
%br
/ - unless @json.nil?
/   #scuola_map
/     = gmaps4rails(@json, { "auto_adjust" => true })
/     = gmaps4rails(@json, { "map_zoom" => 10 })
/     = @json.to_s

/ - content_for :search_nav do
/   = render :partial => 'pages/search_appunti'


%table.libri.riepilogo
  %th Titolo
  %th Copie
  %th Importo
  - for libro in @presenter.riepilogo_venduto do
    %tr
      %td= libro.titolo
      %td= libro.copie
      %td= number_to_currency(libro.importo.to_f / 100)
  %tr
    %td  Totale
    %td= @presenter.totale_venduto[0].copie
    %td= number_to_currency(@presenter.totale_venduto[0].sum_importo.to_f / 100)
    

- if @scuola.appunti.any?
  #appunti_div
    = form_tag edit_or_print_appunti_path, :method => :post, :id => "form_appunti" do
      .autopagerize_page_element
        %ul#appunti.tasks
          #visible_taskslist_title.group-title Appunti attivi
          = render :partial => 'appunti/appunto', :collection => @presenter.appunti_da_fare,    :locals => { :app_righe => true }
          #visible_taskslist_title.group-title Appunti da pagare
          = render :partial => 'appunti/appunto', :collection => @presenter.appunti_da_pagare,  :locals => { :app_righe => true }
          #visible_taskslist_title.group-title Appunti completati
          = render :partial => 'appunti/appunto', :collection => @presenter.appunti_completati, :locals => { :app_righe => true }
  







#visible_taskslist_title.group-title Nei dintorni...
- indirizzo = @scuola.indirizzi.first
- lat_long = [indirizzo.latitude, indirizzo.longitude]
- @piu_vicini = Appunto.da_fare.near(lat_long, 10)
%ul#appunti.tasks
  - for v in @piu_vicini do
    = render v, :app_righe => false
    - l_l = [v.latitude, v.longitude] 
    - distance = indirizzo.distance_from(l_l)
    = "#{format("%.3f", Conversion.m2km(distance))} km"
    - if (distance > 0)
      - b = indirizzo.bearing_to(l_l)
      =  Geocoder::Calculations.compass_point(b)
      %br
  
  