#notice
#titolo
  %h1= "#{@scuola.nome_scuola} #{@scuola.citta} #{@scuola.provincia}"
- if @scuola.appunti.any?
  - form_tag complete_appunti_path, :method => :put do
    = submit_tag "Segna come completati"
    = render @appunti
    = submit_tag "Segna come completati"
    	
= link_to 'Edit', edit_scuola_path(@scuola)
= link_to 'Back', :back