- title "#{@scuola.nome_scuola}", false

/ - require 'conversion'

#scuola
  #content_task_details
    #task_details
      .is_admin
        = render :partial => 'shared/toolbar_show', :locals => {:obj => @scuola}
        #td_scuola_info
          #scuola_img_container
            = image_tag "school-icon.png"
          #td_task_title_input.title-container
            = best_in_place @scuola, :nome_scuola
          #td_task_title_input.title-container
            = best_in_place @scuola, :citta
            = best_in_place @scuola, :provincia
          .clear
  .scuola_id.hidden
    = @scuola.id
  #scuola_latitude.hidden
    =  @indirizzo.latitude
  #scuola_longitude.hidden
    =  @indirizzo.longitude    


  %ul.nav.horizontal
    %li.selected
      = tab_link "#{pluralize(@scuola.appunti.in_corso.size, 'Appunto')} in corso", :view => "in_corso"
    %li
      = tab_link "#{pluralize(@scuola.appunti.completati.size, 'Appunto')} completati", :view => "completati"
    %li
      = tab_link "Vicini", :view => "vicini"
    %li
      = tab_link "Info", :view => "info_scuola"
    %li
      = tab_link "Classi", :view => 'classi'
    %li
      = tab_link "Adozioni", :view => 'adozioni'
    %li
      = tab_link "Venduto", :view => "venduto"
    / = content_tag :li, link_to("Next Episode >", @episode.next), :class => "next" if !@episode.last_published? && @episode.next
    / = content_tag :li, link_to("< Previous Episode", @episode.previous), :class => "previous" if @episode.previous

  .nav_section
    = params[:view].present? ? render(params[:view]) : render("in_corso")


  








  