#block_navigator.block.round
  %ul#bl_navigator.links
    %li.navigation-btn= link_to "Nuova Vendita", new_appunto_path


%h2
  %a.gear
  %div Mostra solo:
  
#block_navigator.block.round
  %ul#bl_navigator.links
    %li.navigation-btn= link_to "Appunti in corso", root_path
    %li.navigation-btn= link_to "Tutti i miei appunti", appunti_path, :class => 'appunti', :remote => true
    %li.navigation-btn= link_to "Scuole", scuole_path, :class => 'scuole'
    %li.navigation-btn= link_to "Libri", libri_path
    %li.navigation-btn= link_to "Vendite", vendite_path
    %li.navigation-btn= link_to "Fatture", fatture_path
    

%h2
  %a.gear
  %div Provincie: 
= render 'shared/provincie' 
     
%h2
  %a.gear
  %div Tags: 

#cloud
  -  @tags       = current_user.appunti.in_corso.order('id desc').tag_counts_on(:tags)
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
    = link_to tag.name, {:controller => :tags, :action => :appunti_cloud, :id => tag.name}, {:class => css_class}
%br

