#block_navigator.block.round
  %ul#bl_navigator.links
    %li.links.menu-604= link_to "Scuole", scuole_path
    %li.links.menu-484= link_to "Appunti", appunti_path
    %li.links.menu-483= link_to "Nuovo appunto", new_appunto_path
    %li.links.menu-224= link_to "Nuova scuola", new_scuola_path
    %li#btn_pdf.links.menu-604= 'PDF etichette'
    %li#btn_edit.links.menu-484= 'Modifica Selezionati'