%footer
  %nav.bottom_nav.round
    %ul
      %li= link_to "TAX SERVER",  "http://www.paolotax.it/appunti", :target => "_blank"
      %li= link_to "GiuntiMail", "https://mail.giunti.it/exchange", :target => "_blank"
      %li= link_to "Portale", "https://portaleagenti.giunti.it", :target => "_blank"
      %li= link_to "Catalogo", "http://catalogo.giunti.it", :target => "_blank"
      %li= link_to "Giunti Scuola", "http://www.giuntiscuola.it", :target => "_blank"