%footer
  %nav.bottom_nav.round
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Appunti", appunti_path
      %li= link_to "Scuole", scuole_path
      %li= link_to "Nuovo Appunto", new_appunto_path
      %li= link_to "Nuova Scuola", new_scuola_path
      %li= link_to "Appunti TAX SERVER",  "http://www.paolotax.it/appunti"