#header.append-1.prepend-1.span-24.last
  .span-7.append-2
    %h1
      - logo  = image_tag("TodoPropa3.png", :alt => "Todo Propa - application")
      = link_to logo, root_path
  .span-13.append-1.last
    %ul#nav.links
      %li.links.menu-604= link_to "Home", root_path
      %li.links.menu-484= link_to "About", root_path
      - if user_signed_in?
        %li.links.menu-483= link_to current_user.username, edit_user_registration_path 
        %li.links.menu-224.last= link_to "Sign out", destroy_user_session_path
      - else
        %li.links.menu-483= link_to "Sign up", new_user_registration_path 
        %li.links.menu-224.last= link_to "Sign in", new_user_session_path
		
      
       


	