<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
	  <%= render 'layouts/stylesheets' %>
      <%= javascript_include_tag "jquery-1.4.4.min.js", %>
      <%= javascript_include_tag "jquery-ui-1.8.8.custom.min.js" %>
      <%= javascript_include_tag "rails.js", "autocomplete-rails.js", 'application.js' %>
      <%= stylesheet_link_tag 'jquery-ui-1.8.8.custom.css' %>
	    
	    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
	    
      <%= csrf_meta_tag %>
  	  <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      
      <p>
        <% if mobile_device? %>
          <%= link_to "Full Site", :mobile => 0 %>
        <% else %>
          <%= link_to "Mobile Site", :mobile => 1 %>
        <% end %>
      </p>
      
      <%= render 'layouts/header' %>

	    <div class="prepend-1 span-5 col-left">

  		<% if user_signed_in? %>
  	    	<%= render 'layouts/block_navigator' %>
  		<% end %>

  		<div id="block-block-1" class="block round">
        <%= yield(:search_bar) %>
  	  </div>
	  
  		<div id="block-block-1" class="block round block-block region-odd odd region-count-1 count-1">
  		  <div class="content"><p><strong>Life's Beat</strong> makes available 15 programs produced for <a title="Hope Channel" href="http://www.hopetv.org/" target="_blank">HOPE CHANNEL</a>&nbsp;that relate to the second quarter <em>Adult Sabbath School Bible Study Guide</em> (April, May, and June 2010). These programs provide additional material and fresh perspectives to the lesson topics, but do not follow the specific format of each lesson.</p>
  	    	<p><strong>We recommend</strong> Hymn #642, "We Praise Thee With Our Minds."</p>
      		<p><a href="/about">Read More</a></p>
  		  </div>
  	  </div>
	  </div>
	
	  <div class="col-center span-15 prepend-1 last append-1 round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %> "><%= value %></div>
        <% end %>
        <%= content_tag(:div, content_tag(:h2, yield(:title)), :class => 'titolo span-10') if show_title? %>
        <%= yield %>
      </div>
      
	  <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
	<%= yield :javascript %>
  </body>
</html>



