<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <%= javascript_include_tag "jquery-1.4.4.min.js", %>
    <%= javascript_include_tag "rails.js" %>
    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>

    <%= yield(:head) %>

</head>
  <body>
    <div data-role="page">
      <!-- <h1><%- title 'Mobile App' %></h1>
        <div data-role="header">
          <h1><%= @title || 'Mobile App' %></h1>
          <% unless user_signed_in? %>
            <%= link_to 'Sign In', new_user_session_path, "class" => "ui-btn-right" %>
          <% else %>
            <%= link_to 'Sign Out', destroy_user_session_path, "class" => "ui-btn-right" %>
          <% end %>
        </div> -->
      
      <%= yield %>
    </div>
  </body>
</html>



