- unless indirizzo.nil?
  .indirizo_completo[indirizzo]  
    %dl
      %dt Spett.le
      %dd
        = best_in_place indirizzo, :destinatario
        %br
        = best_in_place indirizzo, :indirizzo
        %br  
        = best_in_place indirizzo, :cap
        = best_in_place indirizzo, :citta
        = best_in_place indirizzo, :provincia
      %dt partita iva:
      %dd= best_in_place scuola, :partita_iva
      %dt codice fiscale:
      %dd= best_in_place scuola, :codice_fiscale 
      %dt telefono:
      %dd= best_in_place scuola, :telefono 
      %dt fax:
      %dd= best_in_place scuola, :fax 
      %dt email:
      %dd= best_in_place scuola, :email 
      %dt cellulare:
      %dt= best_in_place scuola, :cellulare 
    .scuola_indirizzo_id
      = hidden_field_tag indirizzo.id
    .scuola_latlong
      = hidden_field_tag indirizzo, :latitude
      = hidden_field_tag indirizzo, :longitude